/*reset css*/
*{margin: 0; padding: 0;box-sizing: border-box;}
/*especificações gerais do body*/  
body{background: #efefef;width: 100%;height: 100vh;background-image: radial-gradient (circle, #2196f3, #3f51b5);font-family: 'Mulish', sans-serif;display: flex;align-items: center;justify-content: center;}
    
.main{position: relative;width: 800px;background: white;padding: 20px;border-radius: 10px;}
.left,.right{position: absolute;width:80px;height: 80px;background: white;border-radius: 50px;}
.left{top: 35%;left: -25%;}
.right{right: -25%;bottom: 35%;transform: rotate(180deg);}
.item-div{overflow-x:auto;display:flex;}
.item{min-width: 200px;max-width:200px;margin-left: 15px;height: 200px;border-radius: 20px;background: grey;}
.item:first-child{margin-left: 0;}
.item-div::-webkit-scrollbar{height: 0;width: 0;}
#left{
    display: none;
}
#right{
    display: none;
}
    